.navbar {
  margin-bottom: 0;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 25%;
  padding: .75rem;
  margin: 2rem;
  border: 2;
}

.card > img {
  margin: auto;
  margin-bottom: .75rem;
  display: block;
  width: 230px;
  height: 200px;
}

.caption {
	text-align: center;
  font-family: "Times New Roman", Georgia;
  color:black;
  font-size: 30px;
}

.button-group {
	text-align: center;
}
.navbar {
  margin-bottom: 0;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 25%;
  padding: .75rem;
  margin: 2rem;
  border: 2;
}

.card > img {
  margin: auto;
  margin-bottom: .75rem;
  display: block;
  width: 230px;
  height: 200px;
}

.caption {
	text-align: center;
  font-family: "Times New Roman", Georgia;
  color:black;
  font-size: 30px;
}

.button-group {
	text-align: center;
}

a { 
  cursor: pointer; 
}
